div{
    width: 200px;
    height: 200px;
    padding: 100px;
    border-top-style: dotted;
    border-top-color: green;
    border-right-style: dashed;
    border-right-width: 5px;
    border-right-color: blue;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-left-style: double;
    border-left-width: 10px;
}